DATABASE_URL=postgresql://chudaco:devpass@localhost:5432/chudaco
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=your_discord_guild_id
DISCORD_REQUIRED_ROLE_ID=your_cop_access_role_id
INTERNAL_API_KEY=your_internal_api_key
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
IMAP_ENCRYPTION_KEY=base64_encoded_32_byte_key
GOOGLE_SHEETS_ID=your_google_sheet_id
GOOGLE_SHEETS_TAB_NAME=Sheet 1
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=../../studious-loader-506306-k2-d641df9f3ab4.json